@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
html {
  overflow: hidden;
}

body {
  height: 100vh;
  font-family: Montserrat, sans-serif;
  background: #14181b;
  background: linear-gradient(315deg, #1b1f20 0%, #2a3542 54%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #displayCorrectWord {
  color: white;
  margin: 1rem;
  text-align: center;
}

body main form {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main form input {
  height: 60px;
  width: 300px;
  border: 1px solid gold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  margin-right: .5rem;
  padding: .2rem;
  background-color: #0d0f11;
  color: white;
}

@media (max-width: 700px) {
  body main form input {
    width: 50%;
  }
}

body main form input:disabled {
  background-color: #293036;
  cursor: not-allowed;
}

body main form button {
  height: 60px;
  padding: 0 2rem 0 2rem;
  background-color: transparent;
  color: gold;
  font-size: 2rem;
  border: 1px solid gold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body main form button:hover {
  cursor: pointer;
  background-color: gold;
  color: black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body main #divOutput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
}

body main #divOutput #wordPlacment {
  padding: auto;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main #divOutput #wordPlacment .printedWord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3.5rem;
  font-size: 30px;
  width: 40px;
  padding: auto;
}

body main #info {
  color: gold;
}

body main #info div {
  color: white;
}

body main #info span {
  color: white;
}

lottie-player {
  display: none;
  position: absolute;
  bottom: 20%;
}

lottie-player#left-firework {
  left: 30%;
}

lottie-player#right-firework {
  right: 30%;
}

@media (min-width: 700px) {
  #displayCorrectWord {
    font-size: 2rem;
  }
  #info {
    font-size: 1.6rem;
  }
  #wordPlacment {
    margin-top: 1rem;
  }
  form input {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  #displayCorrectWord {
    font-size: 1.5rem;
  }
  #info {
    font-size: 1rem;
  }
  #wordPlacment {
    margin-top: 0.5rem;
  }
  form input {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=styles.css.map */