@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    overflow: hidden;
}

body {
    height: 100vh;
    font-family: Montserrat, sans-serif;
    background: rgb(20, 24, 27);
    background: linear-gradient(315deg, rgb(27, 31, 32) 0%, rgb(42, 53, 66) 54%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #displayCorrectWord {
            color: white;
            margin: 1rem;
            text-align: center;

        }

        form {
            height: 60px;
            display: flex;
            justify-content: center;

            input {
                height: 60px;
                width: 300px;
                border: 1px solid gold;
                box-sizing: border-box;
                margin: 0;
                margin-right: .5rem;
                padding: .2rem;
                background-color: #0d0f11;
                color: white;

                @media (max-width:700px) {
                    width: 50%;
                }


                &:disabled {
                    background-color: #293036;
                    cursor: not-allowed;
                }
            }

            button {
                height: 60px;
                padding: 0 2rem 0 2rem;
                background-color: transparent;
                color: gold;
                font-size: 2rem;
                border: 1px solid gold;
                transition: all .3s;

                &:hover {
                    cursor: pointer;
                    background-color: gold;
                    color: black;
                    transition: all .3s;
                }
            }

        }

        #divOutput {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 50vh;

            #wordPlacment {
                // margin-top: 2rem;
                padding: auto;
                width: 200px;
                display: flex;
                justify-content: center;

                .printedWord {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 3.5rem;
                    font-size: 30px;
                    width: 40px;
                    padding: auto;
                }
            }


        }

        #info {
            color: gold;

            div {
                color: white;
            }

            span {
                color: white;
            }
        }
    }
}

lottie-player {
    display: none;
    position: absolute;
    bottom: 20%;

    &#left-firework {
        left: 30%;
    }

    &#right-firework {
        right: 30%;
    }
}

@media (min-width:700px) {
    #displayCorrectWord {
        font-size: 2rem;
    }

    #info {
        font-size: 1.6rem;
    }

    #wordPlacment {
        margin-top: 1rem;
    }

    form {
        input {
            font-size: 2rem;
        }
    }
}

@media (max-width:700px) {
    #displayCorrectWord {
        font-size: 1.5rem;
    }

    #info {
        font-size: 1rem;
    }

    #wordPlacment {
        margin-top: 0.5rem;
    }

    form {
        input {
            font-size: 1.3rem;
        }
    }
}